.menu-spacer {
  flex: 1 1 auto;
}
/*
mat-toolbar {
  background-color: white;
} */

.tbar {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.div-border {
  border: 1px solid black;
}

/* .title-center {
  flex: 1 1 auto;
  text-align: center;
} */
