<!-- <h1 mat-dialog-title>food-nutrient-dialog works!</h1> -->

<div flexLayout="column" fxLayoutAlign="center center">
  <mat-spinner *ngIf="isLoading" strokeWidth="5" [diameter]="50"></mat-spinner>
</div>


<ng-container *ngIf="showNutrients">
  <div style="max-width: 900px; overflow: auto" mat-dialog-content>
    <!-- <ngx-charts-bar-horizontal [view]="view" [scheme]="colorScheme" [results]="foodNutrientsChartMacronutrient" [gradient]="gradient"
      [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
    </ngx-charts-bar-horizontal> -->
    <h4>Macronutrients</h4>
      <ngx-charts-bar-horizontal [view]="viewMacronutrients" [scheme]="colorScheme" [results]="foodNutrientsChartMacronutrient" [gradient]="gradient"
      [xAxis]="showXAxis" [yAxis]="showYAxis" (select)="onSelect($event)">
    </ngx-charts-bar-horizontal>
    <h4>Vitamins</h4>
    <ngx-charts-bar-horizontal [view]="viewVitamins" [scheme]="colorScheme" [results]="foodNutrientsChartVitamins" [gradient]="gradient"
      [xAxis]="showXAxis" [yAxis]="showYAxis" (select)="onSelect($event)">
    </ngx-charts-bar-horizontal>
    <h4>Minerals</h4>
    <ngx-charts-bar-horizontal [view]="viewMinerals" [scheme]="colorScheme" [results]="foodNutrientsChartMinerals" [gradient]="gradient"
      [xAxis]="showXAxis" [yAxis]="showYAxis" (select)="onSelect($event)">
    </ngx-charts-bar-horizontal>
  </div>
</ng-container>
